
<div class="email_text_<%= email.id %>">
  <h3> <%= email.object %> </h3>

  <p> <%= email.body %> </p>

  <%= link_to "Supprimer", email_path(email.id), method: :delete, role: :button, remote: true, :class => "btn btn-danger" %>


  <% if email.read %>
    <%= link_to "Marquer comme non-lu", email_path(email.id), method: :put, role: :button, class: "btn btn-info"%>
  <% else %>
    <%= link_to "Marquer comme lu", email_path(email.id), method: :put, role: :button, class: "btn btn-info"%>
  <% end %>


</div>